<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Weather Journal</title>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,700&family=Oswald:wght@300;500;700&display=swap" rel="stylesheet" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet" crossorigin="anonymous">   
    </head>

    <body>
        <header>
            <h1>Travel App</h1>
        </header>
        <section class = "form">
            <div class = "container">
                <div>
                    <label for = "dest">Destination: </label>
                    <input type = "text" placeholder = "Enter a destination..." id = "dest">
                </div>
                <div>
                    <label for = "start">Depart:</label>
                    <input type = "date" id = "start">
                </div>
                <div>
                    <label for = "end">Return:</label>
                    <input type = "date" id = "end">
                </div>
            </div>
        </section>
        <section class = "show-up result" id = "result-container">
            <div class = "container">  
                <div id = "departure"></div>
                <div id = "return"></div>
                <div id = "duration"></div>
                <div id = "weather"></div>
                <div id = "description"></div>
            </div>
        </section>
        <section class = "generate">
            <button id = "generate" onclick = "return Client.handleSubmit(event)">GO!!!</button>
        </section>
    </body>
</html>
